{%- if include.person.link -%}
  {%- assign link = include.person.link -%}
{%- else -%}
  {%- assign link = include.person -%}
{%- endif -%}

{%- if include.person.show -%}
  {%- assign show = include.person.show -%}
{%- else -%}
  {%- assign show = include.person -%}
{%- endif -%}


{% assign person = site.data.team_members | find: "name", link %}
{%- if person == nil -%}
{% assign person = site.data.students | where: "name", link | find: "profile_page", true %}
{%- endif -%}

{%- if person -%}
  <a href="{{ site.baseurl_root }}/{{ person.name | datapage_url: 'people' }}">{{ show }}</a>
{%- else -%}
  {{ show }}
{%- endif -%}