{% assign people = include.people | sort: "period.start" %}
{% if people.size > 0 %}
<ul class="people">
    {% assign number_printed = 0 %}
    {% for person in people %}
    <div class="col-sm-6 clearfix">
        {% include person.html
            photo=person.photo
            name=person.name
            link=person.link
            info=person.info
        %}
    </div>
    {% assign number_printed = number_printed | plus: 1 %}
    {% assign even_odd = number_printed | modulo: 2 %}
    {% if even_odd == 0 %}
    <div class="row"></div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}